@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Futura";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("./Futura-Med.woff2");
}

@font-face {
    font-family: "Futura";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("./Futura-Bol.woff2");
}